@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&family=Quicksand:wght@400;600&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Inter;
}

.font-roboto { font-family: Roboto; }
.font-oswald { font-family: Oswald; }

/* --- Stop Showing Hydration Warning */
nextjs-portal {
  display: none;
}

/* --- Table Styling */
table {
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
}

table tr {
  border-bottom: 1px dotted #ccc;
}

table tr:first-child td {
  font-weight: 600;
}

table td {
  padding: 4px 0;
}
