@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&family=Quicksand:wght@400;600&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Inter;
}

.font-roboto { font-family: Roboto; }
.font-oswald { font-family: Oswald; }

/* --- Stop Showing Hydration Warning */
nextjs-portal {
  display: none;
}

/* --- Table Styling */
table {
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
}

table tr {
  border-bottom: 1px dotted #ccc;
}

table tbody tr:hover {
  background-color: #eee;
}

table thead td {
  font-weight: 600;
  font-size: 14px;
}

table td {
  padding: 4px 0;
  font-size: 13px;
}

table td:first-child {
  padding-left: 10px;
}

table td:last-child {
  text-align: right;
  padding-right: 10px;
}
